body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d1d1d1;
}

.menu-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.menu-home img {
    max-height: 50px;
    width: auto;
}

.menu-home-items a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 40px;
}

.content-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 100%;
}

.new-post {
    width: 50%;
    margin-bottom: 20px;
}

.new-post textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.new-post button {
    background: #222;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.posts {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
}

.post p {
    margin: 5px 0;
}

.post strong {
    font-size: 16px;
}

.post span {
    color: gray;
    font-size: 14px;
}


body {
    background-color: #d1d1d1; /* Gris más oscuro */
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .content-home {
        margin-top: 100px;
    }
    .new-post, .posts {
        width: 90%;
    }
}